<style>
body {
    text-align: center;
}

p{
    font-size: 20px;
    text-align: left;
}

a{
    text-decoration: none;
    color: navy;
}

img {
    width: 16%;
}

.main {
    color:navy;
    font-size: 80px;
    font-weight: 900;

}

.signup-form {
    width: 500px;
    margin: 0 auto;
}

.text-field {
    border-color: navy;
    border-style: solid;
    border-width: 5px;
    font-size: 19px;
    border-radius: 7px;
    padding: 15px;
    width: 500px;
    margin-bottom: 15px;
}

.submit-btn {
    color: white;
    font-size: 25px;
    background-color: navy;
    border-radius: 50px;
    padding: 10px;
    width: 525px;
    margin-bottom: 10px;
    margin-top: 15px;
}

.links {
    color: gray;
    font-size: 20px;
    text-align: center;
}

</style>

<div class = "main">
    <a href = "/Main">Encareer</a>
</div>

<br>

<div class = "signup-form">
    <form action="signupProc" method="post">
        <p> 아이디 </p>
        <input type = "text" name = "id" class = "text-field" placeholder = "4 ~ 16자 영문, 숫자 조합" required>
        <p> 비밀번호 </p>
        <input type = "password" name = "pw" class = "text-field" placeholder = "8 ~ 16자 영문, 숫자, 특수문자 조합" required>
        <p> 이메일 </p>
        <input type = "email" name = "Email" class = "text-field" placeholder = "이메일" required>
        <p> 이름 </p>
        <input type = "text" name = "name" class = "text-field" placeholder = "이름 (실명)" required>
        <p> 생년월일 </p>
        <input type = "text" name = "Birth" class = "text-field" placeholder = "숫자 8자리 (ex.YYYYMMDD)" required>

        <button class="submit-btn">회원가입</button>
    </form>

</div>

<div class = "links">
    <a href = "/Login">로그인</a>
</div>